.companyDetailsDiv {
    display: grid;
    grid-template-columns: 326px 1fr 1fr 323px;
    grid-template-areas: ". fir sec .";
    justify-content: center;
    align-items: center;
    gap: 121px;
}
.bannerDiv{
    background: linear-gradient(93deg, #1D7B83 0%, #287D5F 27.39%);
    display:flex;
    align-items: center;
}